ul {
  list-style-type: none;
}
th {
  text-align: center !important;
}
.resultslistcontainer {
  background-color: black;
  opacity: 0.6;
  color: white;
}
.h3container {
  width: 50%;
  margin: 0 auto;
}
.toasty {
  background-color: black !important;
}
