
input {
  color: black !important;
  width: 30%;
  text-align: center;
}

.homepage-container{
  font-family: 'Permanent Marker';
  text-align: center !important;
  background-image: url("https://odysseyonline-img.rbl.ms/simage/https%3A%2F%2Faz616578.vo.msecnd.net%2Ffiles%2F2016%2F06%2F12%2F636012921623469369390065181_article%2520pic.jpeg/2000%2C2000/%2B%2FLU%2BMUYYLOM0xZl/img.jpeg");
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.searchcontainer {
padding-top: 10%;
}
h1 {
  font-size: 50px !important;
}
