.tohikelistcontainer {
  text-align: center !important;
  font-family:'Permanent Marker' !important;
  background-image: url('https://res.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_360,q_50,w_1024/v1/clients/boulder/flat_irons_sun_streaming_9077e29f-487c-4864-b992-24283d547c94.png');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ol {
  list-style-type: none;
}
li {
  font-size: 20px;
}
.blog {

  border: 1px
  solid #999999;
  padding: 5px;
}
