.tohikelistcontainer {
  text-align: center !important;
  font-family: 'Permanent Marker' !important;
  background-image: url('https://res.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_360,q_50,w_1024/v1/clients/boulder/flat_irons_sun_streaming_9077e29f-487c-4864-b992-24283d547c94.png');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ol {
  list-style-position: inside;
}

li {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px
}

.navbar-container, .navbar-default, .navbar-brand {
  font-family: 'Permanent Marker';
  color: black important;
}

.navbar-brand {
  font-size: 25px !important;
}

.blog {
  border: 1px solid #999999;
  padding: 5px;
}

.upload {
  padding: 25px;
  /*background-color: black;*/
  /*opacity: 0.6;*/
  width: 50%;
  margin: 0 auto;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

button {
  color: black !important;
}

.itemli {
  color: black;
}

.thumbimg {
  height:50%;
  width:50%;
}
